doctype
html
  head
    title #{title} - Voteplex
    include partials/head-metas
    include partials/head-links
  body
    include partials/header
    include partials/flash
    block content
    footer
      .container
        .row
          p FreeCodeCamp Basejump